---
import Layout from "@src/components/Layout.astro";

import {executeQuery, createRecord} from "@src/utils/db";

if (Astro.request.method === 'POST') {
  const formData = await Astro.request.formData();
  const title = formData.get('title');
  const body = formData.get('body');

  const createdId = createRecord('notes', {title, body});
  return Astro.redirect(`/notes/${createdId}?status=created`);
}

const notes = executeQuery('notes');
---

<Layout title="Notes">
<ul>
	{notes.map(note => (
	<li><a href={`/notes/${note.id}`}>{note.title}</a></li>	
	))}
</ul>

<h2>Create new</h2>
<form method="POST">
	<label for="title-input">Title</label>
	<input name="title" id="title-input" />
	<label for="body-input">Body</label>
	<textarea name="body" id="body-input"></textarea>
	<button>Create</button>
</form>
</Layout>
