---
import Layout from "@src/components/Layout.astro";
import { Debug } from "astro:components";
import { getBrainstormsForUser } from "@src/weaviate/query";

const userId = 1;
const brainstorms = await getBrainstormsForUser(userId);
---

<Layout>
	<h1>Brainstorms</h1>
	<ul>
		{
			brainstorms.map((brainstorm) => (
				<li>
					<a href={`/brainstorms/${brainstorm.id}`}>
						{brainstorm.title}
					</a>
				</li>
			))
		}
	</ul>

	<h2>Create a new brainstorm</h2>
	<form method="POST" action="/brainstorms">
		<label for="title">Title</label>
		<input id="title" name="title" type="text" />

		<button>Start brainstorm</button>
	</form>

	<Debug {brainstorms} />
</Layout>
