---
const title =
  Astro.props.title || "Brainstorming with Weaviate's generative search";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <h1>{title}</h1>
      <slot />
    </main>
  </body>
</html>

<style>
  html {
    background-color: lightgray;
  }

  body {
    background-color: white;
    padding: 2rem;
    font-family: system-ui;
    max-width: 60rem;
    margin-inline: auto;
  }
</style>
